
# PlanAhead Generated physical constraints 

NET "e_tx_d[3]" LOC = T5 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_tx_d[2]" LOC = R5 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_tx_d[1]" LOC = T15	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_tx_d[0]" LOC = R11	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_rx_d[3]" LOC = V14	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_d[2]" LOC = U11	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_d[1]" LOC = T11	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_d[0]" LOC = V8	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_er" 	LOC = U14	| IOSTANDARD = LVCMOS33 ;
NET "e_tx_er" 	LOC = R6	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_rx_dv" 	LOC = V2	| IOSTANDARD = LVCMOS33 ;
NET "e_tx_clk" 	LOC = T7	| IOSTANDARD = LVCMOS33 ;
NET "e_tx_en" 	LOC = P15	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_rx_clk" 	LOC = V3	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_clk"	PERIOD = 40.0 ns HIGH 40%;
NET "e_rx_clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "e_mdio" 	LOC = U5	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_mdc" 	LOC = P9	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_crc" 	LOC = U13	| IOSTANDARD = LVCMOS33 ;
NET "e_col" 	LOC = U6	| IOSTANDARD = LVCMOS33 ;
NET "clk" 		LOC = "C9"  | IOSTANDARD = LVCMOS33 ;
NET "clk"	PERIOD = 20.0 ns HIGH 40%;
NET "BTN_WEST"  LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;