

NET "e_tx_d[3]" LOC = T5 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_tx_d[2]" LOC = R5 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_tx_d[1]" LOC = T15	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_tx_d[0]" LOC = R11	| IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "e_rx_d[3]" LOC = V14	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_d[2]" LOC = U11	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_d[1]" LOC = T11	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_d[0]" LOC = V8	| IOSTANDARD = LVCMOS33 ;
NET "e_rx_er" LOC = U14;
NET "e_rx_er" IOSTANDARD = LVCMOS33;
NET "e_tx_er" LOC = R6;
NET "e_tx_er" IOSTANDARD = LVCMOS33;
NET "e_tx_er" DRIVE = 8;
NET "e_tx_er" SLEW = SLOW;
NET "e_rx_dv" LOC = V2;
NET "e_rx_dv" IOSTANDARD = LVCMOS33;
NET "e_tx_en" LOC = P15;
NET "e_tx_en" IOSTANDARD = LVCMOS33;
NET "e_tx_en" DRIVE = 8;
NET "e_tx_en" SLEW = SLOW;
NET "e_rx_clk" LOC = V3;
NET "e_rx_clk" IOSTANDARD = LVCMOS33;
NET "e_rx_clk" PERIOD = 40 ns HIGH 40 %;
NET "e_rx_clk" CLOCK_DEDICATED_ROUTE = TRUE;
NET "e_mdio" LOC = U5;
NET "e_mdio" IOSTANDARD = LVCMOS33;
NET "e_mdio" DRIVE = 8;
NET "e_mdio" SLEW = SLOW;
NET "e_mdc" LOC = P9;
NET "e_mdc" IOSTANDARD = LVCMOS33;
NET "e_mdc" DRIVE = 8;
NET "e_mdc" SLEW = SLOW;
NET "e_crc" LOC = U13;
NET "e_crc" IOSTANDARD = LVCMOS33;
NET "e_col" LOC = U6;
NET "e_col" IOSTANDARD = LVCMOS33;
NET "clk" LOC = C9;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20 ns HIGH 40 %;
NET "BTN_WEST" LOC = D18;
NET "BTN_WEST" IOSTANDARD = LVTTL;
NET "BTN_WEST" PULLDOWN;
#NET "SPI_MISO" LOC = N10;
#NET "SPI_MISO" IOSTANDARD = LVCMOS33;
#NET "SPI_MOSI" LOC = T4;
#NET "SPI_MOSI" IOSTANDARD = LVCMOS33;
#NET "SPI_MOSI" DRIVE = 8;
#NET "SPI_MOSI" SLEW = SLOW;
#NET "SPI_SCK" LOC = U16;
#NET "SPI_SCK" IOSTANDARD = LVCMOS33;
#NET "SPI_SCK" DRIVE = 8;
#NET "SPI_SCK" SLEW = SLOW;
#NET "DAC_CS" LOC = N8;
#NET "DAC_CS" IOSTANDARD = LVCMOS33;
#NET "DAC_CS" DRIVE = 8;
#NET "DAC_CS" SLEW = SLOW;
#NET "DAC_CLR" LOC = P8;
#NET "DAC_CLR" IOSTANDARD = LVCMOS33;
#NET "DAC_CLR" DRIVE = 8;
#NET "DAC_CLR" SLEW = SLOW;
#NET "SPI_MISO" CLOCK_DEDICATED_ROUTE = FALSE;
NET "adc_01_sck" LOC = C5;
NET "adc_01_sck" IOSTANDARD = LVCMOS33;
NET "adc_01_cs" LOC = A4;
NET "adc_01_cs" IOSTANDARD = LVCMOS33;
NET "adc_01_sdo" LOC = D5;
NET "adc_01_sdo" IOSTANDARD = LVCMOS33;
NET "adc_02_sck" LOC = F7;
NET "adc_02_sck" IOSTANDARD = LVCMOS33;
NET "adc_02_cs" LOC = B6;
NET "adc_02_cs" IOSTANDARD = LVCMOS33;
NET "adc_02_sdo" LOC = E7;
NET "adc_02_sdo" IOSTANDARD = LVCMOS33;
NET "LED[7]" LOC = F9;
NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" LOC = E9;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" LOC = D11;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" LOC = C11;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" LOC = F11;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" LOC = E11;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = E12;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" LOC = F12;
NET "LED[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 
NET "e_tx_clk" LOC = T7;
NET "e_tx_clk" PERIOD = 40 ns HIGH 40 %;
NET "e_tx_clk" IOSTANDARD = LVCMOS33;
NET "e_tx_clk" CLOCK_DEDICATED_ROUTE = TRUE;
NET "BTN_NORTH" LOC = V4 | IOSTANDARD = "LVTTL" | PULLDOWN;


